// .header {
//   position: absolute;
// }
.header__container {
  position: relative;
}
.nav {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  position: fixed;
  width: 1200px;
  margin-top: 20px;
  align-items: center;
  background-color: #c4c4c4;
  // background-attachment: fixed;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // margin-left: 17px;
}
.header__item {
  margin-left: 17px;
}
.header__tel--link {
  font-family: Futura PT;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #1f1c1c;
  transition: ease 0.5s all;
  &:hover {
    color: #fdd33d;
  }
}
.header__tel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  /* identical to box height */

  &::after {
    content: "";
    border: 1px solid #afa6a6;
    transform: rotate(90deg);
    width: 32px;
    height: 0;
  }
  &::before {
    content: "";
    border: 1px solid #afa6a6;
    transform: rotate(90deg);
    width: 32px;
    height: 0;
  }
}
.header__tel--one {
  &::after {
    content: "";
    border: 1px solid #afa6a6;
    transform: rotate(90deg);
    width: 18px;
    height: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
// .header {
//   padding-bottom: 157px;
//   padding-top: 19px;
// }
.mobile__bar {
  flex-direction: column;
  // justify-content: center;
  align-items: flex-end;
  // display: none;
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-end;
  transition: ease 0.5s all;
}
.mobile__bar:hover .nav__span {
  background-color: #fdd33d;
}
.nav__span {
  display: block;
  height: 2.5px;
  width: 20px;
  margin: 3px;
  background: #1f1c1c;
  transition: ease 0.5s all;
}
.nav__span:nth-child(1) {
  width: 38px;
  height: 2.5px;
}

.nav__span:nth-child(2) {
  width: 30px;
  height: 2.5px;
}
.nav__span:nth-child(3) {
  width: 22px;
  height: 2.5px;
}
.menu__list {
  transition: ease 1s all;
  transform: translateX(-420px);

  z-index: 4;
  display: flex;
  position: absolute;
  left: 0;
  top: -29px;
  width: 400px;
  min-height: 10000%;
  margin: 0;
  padding: 0 15px;

  flex-direction: column;
  background: white;
  opacity: 0;
}
.menu__item {
  display: inline-block;
}
.menu__link {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  margin-left: 40px;
  margin-top: 15px;
  display: inline-block;
  color: black;

  text-decoration: none;
}
.menu__list.active {
  opacity: 1;
  transform: translateX(-122px);

  background: white;
}
// .menu__list.active .menu__item {
//   display: block;
// }
// .menu__list.active .menu__item .menu__link {
//   display: block;
// }
.header__box--one {
  // width: 1500px;
  // width: 700px;
  display: flex;
  justify-content: flex-end;
}
