.pay {
  padding-top: 92px;
  padding-bottom: 78px;
}
.pay__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  color: #fdd33d;
  text-align: center;
}
.pay__title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */

  text-align: center;

  color: #1f1c1c;
  margin-bottom: 39px;
}
// .pay__list {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }
.pay__box {
  width: 568px;
}
.pay__box--img {
  display: flex;
}
.car__box {
  margin-top: 20px;
  overflow: hidden;
  //   width: 600px;
  position: relative;
}
.pay__img--one {
  display: flex;
  justify-content: space-between;
}
.pay__img--two {
  display: inline-block;
  width: 568px;
}
.pay__img {
  //   position: relative;
  //   display: inline-block;
  //   position: absolute;
  //   content: "";
  //   top: 50%;
  //   left: 196px;
  display: inline-block;
  //   width: 20px;
  //   height: 20px;
  //   background-color: green;
  //   margin-left: 5px;
  //   z-index: 1;
  display: block;
  transition: transform 2050ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  //   transform: translateY(calc(-50% + 40px));
  transform: translateX(230px);
  //   overflow: hidden;
}

.pay__one {
  display: flex;
}
.pay:hover .pay__img {
  transform: translateX(0);
}
.car__box::before {
  position: absolute;
  //   position: relative;
  content: "";
  top: 170px;
  left: 90px;
  z-index: 1;
  width: 165px;
  height: 165px;
  background-size: cover;
  //   animation: circle-rotate 50s infinite;

  background-image: url("./../../images/car__ble.png");
  transition: transform 2050ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  //   transform: translateY(calc(-50% + 40px));
  transform: translateX(230px);
}
.pay:hover .car__box::before {
  transform: translateX(0) rotate(-350deg);
  animation: circle-rotate 100s infinite;
}
// @keyframes circle-rotate {
//   from {
//     transform: rotate(360deg);
//   }
// }
.pay__box--title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;

  color: #1f1c1c;
  margin-top: 40px;
  margin-bottom: 32px;
}
.pay__box--text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #1f1c1c;
  margin-bottom: 49px;
}

.pay__box--button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  width: 220px;
  height: 60px;
  text-align: center;
  color: #1f1c1c;

  background-color: white;
  border: 3px solid #fdd33d;
  transition: background-color 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    color 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.pay__box--button:hover,
.pay__box--button:focus {
  background-color: #fdd33d;
  color: #1f1c1c;
  //   border: none;
}
.pay__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pay__btn {
  position: relative;

  line-height: 20px;
  /* identical to box height */
  width: 220px;
  height: 60px;
  text-align: center;

  background-color: white;
  border: 1px solid #eeeff1;
  //   border: 3px solid #fdd33d;
  transition: background-color 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    color 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.pay__btn--link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1f1c1c;
}
.pay__btn:hover,
.pay__btn:focus {
  background-color: #fdd33d;
  color: #1f1c1c;
  //   border: none;
}
// #highlight,
// #highlight:hover,
// #highlight:active,
// #highlight:focus {
//   background-color: #fdd33d;
//   color: #1f1c1c;
// }
// .pay__btn::after #highlight,
// #highlight:hover,
// #highlight:active,
// #highlight:focus {
//   background-color: #fdd33d;
//   color: #1f1c1c;
// }
.pay__box--one {
  display: none;
}
// .pay__btn--one:focus .pay__box--one {
//   display: block;
// }
.pay {
  background: #f8f8f8;
}
.pay__btn::after {
  content: "";
  position: absolute; /* Абсолютное позиционирование */
  left: 47%;
  z-index: 2;
  bottom: -20px; /* Положение треугольника */
  border: 10px solid transparent; /* Прозрачные границы */
  border-top: 10px solid #fdd33d; /* Добавляем треугольник */
  opacity: 0;
  transition: opacity 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.pay__btn:hover.pay__btn::after,
.pay__btn:focus.pay__btn::after {
  opacity: 1;
}
// .pay__box {
//   display: none;
// }
.hidden {
  display: none;
}
